<!DOCTYPE html>
<html ng-app="hostMeetups">
<head>
  <title>Host Meetups</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!-- vendorInject:css -->
  <!-- endinject -->

  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="LoginCtrl">
  <button ng-click="login()">Login</button>
  <button ng-click="tweet()">Tweet</button>

<!-- vendorInject:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->
</body>
</html>
